/* src/App.css */
.App {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: transparent;
}

.App > *:not(.background-video) {
  width: 100%;
  max-width: 1800px;
  z-index: 1;
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;   /* el vídeo detrás de todo */
}
