.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url('./assets/fondo.jpg') repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated; /* Maintains the pixel art style if the image is pixelated */
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}