/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  /* repite el oak_planks.png que tienes en public/ */
  background: url('/public/wallpaper.jpg') repeat;
  image-rendering: pixelated;
  font-family: 'Press Start 2P', cursive;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
