/* SearchForm.css */
.input-field {
  background: rgba(199, 162, 108, 0.9);
  padding: 1rem;
  border: 2px solid #000;
}

/* SearchForm.css (o Buttons.css) */

.minecraft-button {
  background: #8d5d39;
  color: #fff;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: inherit;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.minecraft-button:hover {
  background: #a6724d;
}

.minecraft-button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
